/* index.html */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* index2.html */

body{
    background: linear-gradient(135deg, #e8f5e9, #c8e6c9);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}
.calculator2{
    width: 400px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    text-align: center;
    background: #fff;
}
.calculator2 h2{
    color: green;
    margin-bottom: 5px;
}
.calculator2 p{
    margin-bottom: 24px;
    font-size: 1rem;
}
.input-section{
    text-align: left;
    margin-bottom: 25px;
}
.input-section label{
    display: block;
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
}
.input-section input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}
.input-section input:focus{
    box-shadow: 0 0 5px #afaeae;
}

#btn{
    width: 100%;
    background-color: green;
    margin: 20px 0;
}
.price{
    padding: 12px;
    background-color: #f1f8e9;
    border-radius: 8px;
    font-weight: bold;
    color: #2e7d32;
}