@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
:root{
  --accent-color: #F7374F;
  --bg-main: #000;
  --bg-alt: white;
  --bg-mute: #1e1e1e;
  --text-color: white;
  --transition: all 0.4s;


  --current-bg: var(--bg-main);
  --current-input-card: var(--bg-alt);
  --current-text: var(--text-color);
  --current-btn: var(--accent-color);
  --current-shadow: #383737;
  --current-result-text: var(--text-color);
  --current-keyboard-btn: var(--bg-mute);
  --current-special: var(--accent-color);
}

.light-mode{
  --current-bg: var(--bg-alt);
  --current-input-card: #eee7e7;
  --current-text: var(--bg-mute);
  --current-btn: var(--accent-color);
  --current-shadow: var(--accent-color);
  --current-result-text: var(--accent-color);
  --current-keyboard-btn: #f8697aa7;
  --current-special: var(--text-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Google Sans", sans-serif;
}

body{
  background: var(--current-bg);
  height: 100vh;
  color: var(--current-text);
  transition: var(--transition);
}

.app{
  position: relative;
  overflow: hidden;
  height: 100vh;
}

/* === Header Part === */

.calculator-head{
  height: 70px;
  background: transparent;
  color: var(--accent-color);
  padding: 15px clamp(30px,5vw,50px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-toolbar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.head-toolbar i{
  font-size: clamp(14px,4vw,25px);
  cursor: pointer;
}

.head-toolbar .icon-div{
  padding: 10px;
  background: #6f6e6e4d;
  border-radius: 50%;
}

.right-side-tools{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

i.de-active{
  display: none;
}

.right-side-tools .menu{
  display: none;
}

/* === Nav Bar === */

.navBar{
  width: clamp(120px,25vw,200px);
  outline: none;
  padding: 5px;
  text-align: center;
  font-size: clamp(12px,2.5vw,18px);
  color: var(--current-text);
  background: var(--current-bg);
}

.navBar option{
  list-style: none;
  font-size: clamp(12px,2.5vw,18px);
  font-weight: bold;
}

/* === Container === */
main{
  height: 78%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: clamp(350px,90vw,470px);
  border-radius: 14px;
  padding: clamp(10px,2vw,20px);
  box-shadow: 1px 1px 15px var(--current-shadow);
}

input{
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  background: var(--current-input-card);
}

label{
  font-size: clamp(1rem,2vw,1.6rem);
  font-weight: bold;
}

button{
  width: 100%;
  border: none;
  outline: none;
  background: var(--current-btn);
  color: var(--text-color);
  padding: 14px;
}

.container .calculator{
  display: none
}

.container div.active{
  display: block;
}

#Basic{
  position: relative;
}

#input-box{
  height: 10vh;
  color: var(--current-text);
  background: transparent;
  text-align: right;
  font-weight: bold;
  padding: 0 15px;
  border-radius: 14px 14px 0 0;
  border-bottom: 1px solid var(--bg-mute);
  margin-bottom: 20px;
  font-size: clamp(24px,5vw,34px);
}

#input-box::placeholder{
  color: var(--bg-mute);
  font-size: clamp(24px,5vw,34px);
  text-align: right;
}

.basic-keyboard,
.sci-keyboard{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-content: center;
  gap: 10px;
  margin: 10px 0;
  transition: var(--transition);
}

.keyBoard button {
  border-radius: 30px;
  height: clamp(30px,22vmin,60px);
  font-weight: bold;
  font-size: clamp(14px,4vw,22px);
  background: var(--current-keyboard-btn);
  color: var(--current-text);
  cursor: pointer;
  padding: 0;
  transition: var(--transition);
}

button.special{
  color: var(--current-special);
}

.appear{
  display: none;
}

.keyBoard .resize{
  height: clamp(10px,8vw,50px);
}

.keyBoard button:hover{
  filter:brightness(1.9);
}

.result-container{
  height: 50px;
  border-left: 2px solid var(--accent-color);
  border-radius: 8px;
  font-size: clamp(14px,2vw,18px);
  color: var(--current-result-text);
  margin: 15px 0;
  text-align: center;
  align-content: center;
  font-weight: bold;
  word-spacing: 6px;
  letter-spacing: 1px;
}

.emi-result,
.GramPrice-result{
  text-align: left;
  height: fit-content;
  padding: 10px;
}

.calculate{
  font-weight: bold;
  font-size: clamp(14px,2vw,18px);
  border-radius: 8px;
  cursor: pointer;
  transition: var(--transition);
  margin: 15px 0;
}

.calculate:hover{
  filter: brightness(1.8);
}

#Age .input-date{
  text-align: center;
  font-size: clamp(18px,2vw,24px);
  margin-bottom: 15px;
}

.section{
  margin: 10px 0;
}

.section input{
  padding: 15px;
  margin: 5px 0;
  border-radius: 8px;
  font-size: clamp(14px,2vw,18px);
}

/* ===light theam style=== */

.light-mode input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0);
}

/* === History Panel === */

.cal-history-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: absolute;
  left: 0;
  bottom: -1000px;
  height: 85%;
  width: 100%;
  z-index: 1000;
  padding: 10px 30px;
  background: var(--current-bg);
  transition: var(--transition);
}

.history-appear{
  bottom: 0;
  border-top: 2px solid #24243e;
}

.history-clear-btn{
  background-color: #6f6e6e4d;
  font-size: clamp(1rem,2vw,1.2rem);
  font-weight: bold;
  width: 60%;
  margin:  0 auto;
  border-radius: 30px;
  color: var(--current-text);
  cursor: pointer;
}

.history-clear-btn:hover{
  filter: brightness(1.2);
  color: var(--current-text);
}

.history-data{
  flex: 1;
  width: 100%;
  overflow-y: auto;
  align-content: end;
}

.history-data li{
  width: 100%;
  list-style: none;
  letter-spacing: 2px;
  word-spacing: 20px;
  padding: 10px;
  font-weight: bold;
  font-size: clamp(14px,2vw,17px);
  text-align: right;
}