body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: #1e1e2f;
    font-family: Arial, sans-serif;
    color: #cbc2c2cd;
}

.calculator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #2c2c3e;
    padding: 20px;
    border-radius: 10px;
    height: 400px;
    width: 350px;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 32px;
    margin-bottom: 15px;
    text-align: right;
    padding-right: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: 100%;
    width: 100%;
}

button {
    height: 55px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.equal {
    background: #ff9500;
    color: white;
}

.zero {
    grid-column: span 2;
}

button {
    background: #3f3f5e;
    color: white;
}
